.screen-flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #fff 0%, #ff4400 50%, transparent 100%);
  z-index: 1000;
  pointer-events: none;
  animation: flashOut 0.15s ease-out forwards;
}

@keyframes flashOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blood-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
  animation: bloodFade 1.5s ease-out forwards;
}

@keyframes bloodFade {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blood-splatter {
  position: absolute;
  background: radial-gradient(ellipse at center, #8b0000 0%, #5a0000 40%, transparent 70%);
  border-radius: 50%;
  animation: splatIn 0.1s ease-out forwards;
}

@keyframes splatIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.blood-1 {
  top: 10%;
  right: 15%;
  width: 300px;
  height: 250px;
  animation-delay: 0ms;
}

.blood-2 {
  top: 5%;
  right: 30%;
  width: 200px;
  height: 180px;
  animation-delay: 30ms;
}

.blood-3 {
  top: 20%;
  right: 5%;
  width: 150px;
  height: 120px;
  animation-delay: 60ms;
}

.blood-drip {
  position: absolute;
  top: 0;
  width: 30px;
  height: 0;
  background: linear-gradient(to bottom, #8b0000 0%, #5a0000 100%);
  border-radius: 0 0 50% 50%;
  animation: dripDown 1.5s ease-in forwards;
}

@keyframes dripDown {
  0% {
    height: 0;
    opacity: 0.9;
  }
  100% {
    height: 40vh;
    opacity: 0.6;
  }
}

.blood-drip-1 {
  right: 20%;
  animation-delay: 100ms;
  width: 40px;
}

.blood-drip-2 {
  right: 35%;
  animation-delay: 200ms;
  width: 25px;
}

.blood-drip-3 {
  right: 10%;
  animation-delay: 300ms;
  width: 35px;
}

